*~
*.hi
*.o
*.dyn_o
*.dyn_hi
*.p_o
*.p_hi
*.info
*.prof
*.html
*.hp
*.tix
*.yaml.lock
.ghc.environment.*

TAGS
a.out
cabal.project.local

kernel/include/finkel_kernel_config.h
kernel/test/data/main/m00?
kernel/test/data/make/main?
kernel/test/data/make/gen
kernel/test/data/syntax/*.h

.stack-work/
dist/
dist-newstyle/

doc/_build
doc/_static
doc/_templates

doc/include/finkel-executable/hello
doc/include/macros/quasiquote
doc/include/macros/require
