*~
*.hi
*.hie
*.hscpp
*.o
*.dyn_o
*.dyn_hi
*.p_o
*.p_hi
*.info
*.prof
*.html
*.hp
*.tix
*.yaml.lock
.ghc.environment.*
result*

TAGS
a.out
cabal.project.local

finkel-kernel/include/finkel_kernel_config.h
finkel-kernel/test/data/main/m00?
finkel-kernel/test/data/make/main?
finkel-kernel/test/data/make/gen
finkel-kernel/test/data/plugin/p??
finkel-kernel/test/data/syntax/*.h

.stack-work/
dist/
dist-newstyle/

doc/_build
doc/_static
doc/_templates

doc/include/finkel-executable/hello
doc/include/macros/quasiquote
doc/include/macros/require
